.sevices{
  margin-top: 50px;
  opacity: 0;
  transform: translateY(15%);
  transition: all 3s;
  width: 100dvw;
  overflow-x: hidden;
}

.services-fade-out {
opacity: 1;
transform: translate(0);
}
.servicesTitle{
    font-family: 'Raleway';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    margin-top: 30px;
}


.Home-sections-title{
    font-size: 45px;
    position: relative;
    display: inline-block;
    text-align: center;

}
.btnS{
    font-family: 'Raleway';
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size:35px;
    border-radius: 500px;
    transition-duration: .3s;
    border: 1px solid transparent;
   
    white-space: normal;
    font-weight: 900;
    text-align: center;
    color: #fff;
    background-color: #c71818;
   
    padding: 10px 20px 10px 20px;
    margin-left: 1%;

}


 .Home-sections-title::after {
    content: '';
    position: absolute;
    width: 70%;
    transform: scaleX(1);
    height: 4px;
    border-radius: 2px;
    bottom: -10px;
    left: 15%;
    right: 15%;
    background-color: #068FFF;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.Home-sections-title:hover::after {
    transform: scaleX(0);
    transform-origin: bottom left;
}

.Home-sections-title::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.btnS:hover{
    background-color: #000000;
} 

.servicesContainer {
  
    display: grid;
    justify-content: center;
    grid-template-columns:auto auto auto auto; /* Divides the screen into two columns */
    column-gap: 60px;
    row-gap: 50px;
    /* margin-bottom: 15%; */
    width: 90%;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
  }
  .servicesSection {
    /* border: 0.5px solid #000000; */
    display: block;
    justify-content: center;
    text-align: center;
    /* width: 16%; */
    /* height: 13%; */
    font-family: 'Raleway';
    border-radius: 3px;
    align-items: center;
    
  }

  .section1, .section2, .section3, .section4{
    transition: box-shadow 0.3s;
    position: relative;
  }



  .servicesImg{
    width: 100px;
    height: 100px;
    padding: 0;
    padding-top: 6%;
  }
  .serviceTitleH4{
    color: #068FFF;
    font-weight: bold;
    font-size: 25px;
  }
  
  .triangle1 {
    position: absolute;
    border-right: 110px solid transparent; /* Adjust the size of the triangle */
    border-top: 110px solid rgb(51, 50, 50); /* Adjust the color and size of the triangle */
    border-radius: 4;
    left: -10px;
    top: -10px;
    border-radius: 5px;
  }

  

  .triangle2{
    position: absolute;
    border-right: 110px  solid transparent; 
    border-top: 110px  solid #c71818; 
    border-radius: 4;
    left: -10px;
    top: -10px;
    border-radius: 5px;
  }

  .triangle3{
    position: absolute;
    border-right: 110px   solid transparent; 
    border-top: 110px   solid #44ABCC; 
    border-radius: 4;
    left: -10px;
    top: -10px;
    border-radius: 5px;
  }

  .triangle4{
    position: absolute;
    border-right: 110px   solid transparent; 
    border-top: 110px   solid #FAD02C;
   
    border-radius: 4;
    left: -10px;
    top: -10px;
    border-radius: 5px;
  }

  @media screen and (max-width: 900px){
    .serviceTitleH4 {
      font-size: 20px;
    }
  }

  @media (max-width: 800px){
    .btnS{
      height: 7vh;
      font-size: 25px;
      padding: 8px 15px 8px 15px;
    }
    .servicesContainer {
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: center;
      align-items: center;
      width: auto;
      text-align: center;
      margin-bottom: 30px;
    }
  .servicesSection {
    width: fit-content;
    height: fit-content;
    margin-bottom: 0;
    }
  
  
  }


  
  @media (max-width: 700px){
    .btnS{
      height: 7vh;
      font-size: 25px;
      padding: 8px 15px 8px 15px;
    }
    .servicesContainer {
      display: grid;
      grid-template-columns:  auto auto;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  .servicesSection {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 0;
    }
  
    .Home-sections-title {
      font-size: 26px;
    }
    .serviceTitleH4 {
      font-size: 18px;
    }
  
  }
 
  @media (max-width: 400px){
  
    .servicesContainer {
      display: grid;
      grid-template-columns:  auto ;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
     
    .Home-sections-title {
      font-size: 20px;
    }
  
    .serviceTitleH4 {
      font-size: 16px;
    }
  }
 