.sevices{
  margin-top: 50px;
}
.servicesTitle{
    font-family: 'Raleway';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    margin-top: 30px;
}

h2{
    font-size: 45px;
}

.btnS{
    font-family: 'Raleway';
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size:35px;
    border-radius: 500px;
    transition-duration: .3s;
    border: 1px solid transparent;
   
    white-space: normal;
    font-weight: 900;
    text-align: center;
    color: #fff;
    background-color: #c71818;
   
    padding: 10px 20px 10px 20px;
    margin-left: 1%;
}
.btnS:hover{
    background-color: #000000;
} 

.servicesContainer {
    display: flex;
    margin-top: 5%;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr); /* Divides the screen into two columns */
    column-gap: 3%;
    margin-bottom: 15%;
    width: auto;
    align-items: center;
  }
  .servicesSection {
    border: 0.5px solid #000000;
    display: block;
    justify-content: center;
    text-align: center;
    width: 16%;
    height: 13%;
    font-family: 'Raleway';
    border-radius: 3px;
    align-items: center;
    
  }

  .section1, .section2, .section3, .section4{
    transition: box-shadow 0.3s;
    position: relative;
    box-shadow: -6px 24px 85px 0px rgba(200, 188, 188, 0.25);
  }

  .section1:hover .triangle1, .section2:hover .triangle2, .section3:hover .triangle3, .section4:hover .triangle4{
    /* box-shadow: 0px 0px 10px rgba(0, 5, 0, 5.5);  */
    rotate: -15deg;
    left: -30px;
  }

  .servicesImg{
    width: 25%;
    height: 20%;
    padding: 0;
    padding-top: 6%;
  }
  .serviceTitleH4{
    font-weight: bold;
    font-size: 95%;
  }
  
  .triangle1 {
    position: absolute;
    border-right: 110px solid transparent; /* Adjust the size of the triangle */
    border-top: 110px solid rgb(51, 50, 50); /* Adjust the color and size of the triangle */
    border-radius: 4;
    left: -10px;
    top: -10px;
    border-radius: 5px;
  }

  

  .triangle2{
    position: absolute;
    border-right: 110px  solid transparent; 
    border-top: 110px  solid #c71818; 
    border-radius: 4;
    left: -10px;
    top: -10px;
    border-radius: 5px;
  }

  .triangle3{
    position: absolute;
    border-right: 110px   solid transparent; 
    border-top: 110px   solid #44ABCC; 
    border-radius: 4;
    left: -10px;
    top: -10px;
    border-radius: 5px;
  }

  .triangle4{
    position: absolute;
    border-right: 110px   solid transparent; 
    border-top: 110px   solid #FAD02C;
   
    border-radius: 4;
    left: -10px;
    top: -10px;
    border-radius: 5px;
  }



  @media (max-width: 800px){
    .btnS{
      height: 7vh;
      font-size: 25px;
      padding: 8px 15px 8px 15px;
    }
    .servicesContainer {
      display: grid;
      grid-template-columns: auto;
      justify-content: center;
      align-items: center;
      width: auto;
    }
  .servicesSection {
    width: 29vh;
    height: 22vh;
    margin-bottom: 12%;
    }
    .servicesImg{
      width: 43px;
      height: 43px;
      padding: 0;
      padding-top: 15%;
    }
    .serviceTitleH4{
      font-weight: bold;
      font-size: 95%;
    }
  }

  @media (max-width: 700px){
   
  .servicesSection {
    width: 27vh;
    height: 20vh;
    margin-bottom: 12%;
    }
    .servicesImg{
      width: 41px;
      height: 41px;
      padding: 0;
      padding-top: 15%;
    }
    .serviceTitleH4{
      font-weight: bold;
      font-size: 93%;
    }
  }

  @media (max-width: 600px){
  
    .servicesSection {
      width: 25vh;
      height: 18vh;
      margin-bottom: 12%;
      }
      .servicesImg{
        width: 39px;
        height: 39px;
        padding: 0;
        padding-top: 14%;
      }
      .serviceTitleH4{
        font-weight: bold;
        font-size: 88%;
      }
  }
  @media (max-width: 500px){
  
    .servicesSection {
      width: 23vh;
      height: 16vh;
      margin-bottom: 12%;
      }
      .servicesImg{
        width: 36px;
        height: 36px;
        padding: 0;
        padding-top: 8%;
      }
      .serviceTitleH4{
        font-weight: bold;
        font-size: 86%;
      }
  }
  @media (max-width: 400px){
   
    .servicesSection {
      width: 22vh;
      height: 17vh;
      margin-bottom: 12%;
      }
      .servicesImg{
        width: 35px;
        height: 35px;
        padding: 0;
        padding-top: 8%;
      }
      .serviceTitleH4{
        font-weight: bold;
        font-size: 86%;
      }
  }