.blogsC{
    text-align: center;
    width: 100dvw;
    overflow-x: hidden;
    margin-top: 60px;
}
.blogsTitle {
    margin: 0 auto;
    text-align: center ;
    margin-bottom: 70px;
}
.blogsT{
    margin-bottom: 100px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
    justify-items: center;
    margin: 0 20%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.blog{
    /* border: 2px solid black; */
    min-height: 100%;
    width: 550px;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px 0px
    
}
.blogTitle{
    text-decoration: none;
    margin: 10px 20px;
    text-align: left;
    font-weight: bold;
    color: black;
    font-size: 28px;
    padding: 20px;
    padding-left: 0;
}
.blogImg{
    width: 100%;
    height: 350px;

    object-fit: cover;

    
}
.blogDescription{
    font-family: "Lora";
    margin: 0 20px;
    text-align: left;
    font-size: 16px;
    line-height: 170%;
}
.blogButton{
    float: right;
    margin-top: 30px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.702);
    padding: 15px 70px 15px 70px;
    background-color: rgba(184, 182, 182, 0.675);
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 3px;
    margin-right: -12px;
}

.blogButton:hover {
    background-color: rgba(184, 182, 182, 0.961);
    color: rgb(0, 0, 0);
}

@media (max-width: 800px){
    .blogs{
        display: block;
    }
    .blog{
        margin-bottom: 20%;
        margin-top: 30%;
        display: block;
        height: fit-content;
    }
    .blogButton{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .blogTitle{
        margin: 10px 0px;
        font-size: 100%;
        padding: 0% 5%;
    }
    .blogDescription{
        padding: 0% 5%;
        padding-bottom: 5%;
        margin: 10px 0px;
        font-size: 70%;
    }
}

                                   /***********************Blog Detail************************/

.blogDetail{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: fit-content;
}
.blogD{
    margin: 1% 22%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.blogDImage{
    width:50dvw;
    height: 500px;
    
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border-radius: 10px;
}
.blogDTitle{
    font-family: "Lora";
    text-align: center;
    margin-top: 5%;
    margin-bottom: 30px;
    font-size: 4rem;
    position: relative;
}
.blogDDescription{
    font-family: "Lora";
   
    text-align: start;
    line-height: 260%;
    font-size: 1.2rem;
    margin-top: 200px;
}
.testimonials-svg {
    position: absolute;
    bottom: -150px;
    width: 100dvw;
    left: 0;
}

.blog-detail-tags {
    display: flex;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
 
    width: fit-content;
    padding: 40px;
}

.blog-detail-tags-title {
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    font-size: 26px;
   
    font-family: "Lora";
}

.blog-details-links {
    width: 100dvw;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 24px;
    background-color: rgb(231, 229, 229);
    font-family: "Lora";
    font-weight: bold;
    margin-bottom: 50px;
}
@media (max-width: 900px){
    .blogDImage{
        width: 110%;
        height: 300%;
    }
    .blogDTitle{
        font-size: 120%;
    }
    .blogDDescription{
        font-size: 70%;
    }
}

