.blogsC{
    text-align: center;
    width: 100dvw;
    overflow-x: hidden;
    margin-top: 60px;
}
.blogsTitle {
    margin: 0 auto;
    text-align: center ;
    margin-bottom: 70px;
}
.blogsT{
    margin-bottom: 100px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
    justify-items: center;
    margin: 0 20%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.blog{
    /* border: 2px solid black; */
    min-height: 100%;
    width: 550px;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: rgba(38, 38, 39, 0.2) 0px 8px 24px 0px
    
}

.blog.dark {
    background-color: rgb(26, 25, 25);
}

.blogTitle.dark {
    color :rgba(255, 255, 255, 0.859);
}

.blogDescription.dark {
    color: rgba(255, 255, 255, 0.859);
}
.blogTitle{
    text-decoration: none;
    margin: 10px 20px;
    text-align: left;
    font-weight: bold;
    color: black;
    font-size: 28px;
    padding: 20px;
    padding-left: 0;
}
.blogImg{
    width: 100%;
    height: 350px;

    object-fit: cover;

    
}
.blogDescription{
    font-family: "Lora";
    margin: 0 20px;
    text-align: left;
    font-size: 16px;
    line-height: 170%;
}
.blogButton{
    float: right;
    margin-top: 30px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.702);
    padding: 15px 70px 15px 70px;
    background-color: rgba(184, 182, 182, 0.675);
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 3px;
    margin-right: -12px;

}
.blogButton.dark {
    color: rgba(255, 255, 255, 0.673);
    background-color: rgba(86, 85, 85, 0.918);
}
.blogButton:hover {
    background-color: rgba(76, 75, 75, 0.878);
    color: rgb(0, 0, 0);

}




                                   /***********************Blog Detail************************/

.blogDetail{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: fit-content;
    margin-top: 100px;
}
.blogD{
    margin: 1% 22%;
    align-items: center;
    justify-content: center;
    text-align: center;

    overflow-x: hidden;
}
.blogDImage{
    width:50dvw;
    height: 500px;
    
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    border-radius: 10px;
}
.blogDTitle{
    font-family: "Lora";
    text-align: center;
    margin-top: 5%;
    margin-bottom: 30px;
    font-size: 4rem;
    position: relative;
}

.blogDTitle.dark {
    color :white;
    font-size: 4rem;
}
.blogDDescription{
  
   
    text-align: start;
    line-height: 230%;
    font-size: 1.4rem;
    margin-top: 200px;
    font-weight: 400;
}

.blogDDescription.dark {
    color: rgba(255, 255, 255, 0.835);
}


.testimonials-svg {
    position: absolute;
    bottom: -280px;
    width: 100dvw;
    left: 0;
}

.blog-detail-tags {
    display: flex;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
 
    width: fit-content;
    padding: 40px;
}

.blog-detail-tags-title {
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    font-size: 26px;
   
    font-family: "Lora";
}

.blog-details-links {
    width: 100dvw;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 24px;
    background-color: rgb(231, 229, 229);
    font-family: "Lora";
    font-weight: bold;
    margin-bottom: 50px;
}

.blog-details-links.dark {
    background-color: black;
    color: rgba(255, 255, 255, 0.56);
}
@media (max-width: 900px){
    .blogDImage{
        width: 100%;
        height: 300%;
    }
    .blogDTitle{
        font-size: 120%;
    }
    .blogDDescription{
        font-size: 70%;
    }
}


.lastblogs-container{
    opacity: 0;
    width: 100dvw;
    overflow-x: hidden;
    transform: translateY(15%);
    transition: all 3s;
  }
  
.blogs-container-fade-out{
    opacity: 1;
transform: translate(0);
}

.allblogs {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 25px;
    background-color: #068FFF;
    width: fit-content;
    color: white;
    cursor: pointer;
    
}


@media screen and (max-width: 1600px) {
   .testimonials-svg {
    bottom: -350px;
   }
}

@media screen and (max-width: 1200px) {
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    .blogDImage {
        width: 60dvw;
        height: 400px;
    }
    .blogDDescription  {
        margin-top: 250px;
    
    }
    .blogD {

        padding: 10px 90px 10px 90px;
        margin: 0;
    }
}


@media screen and (max-width: 800px) {
 .blogImg{
    width: 100%;
    height: 200px;
    object-fit: cover;
    
}
.blogDescription{
font-size: 16px;
}

.testimonials-svg {
    bottom: 100px;
   }

   .blogDDescription  {
    margin-top: 120px;

}
.blog-details-links {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.blogDImage {
    width: 70dvw;
    height: 200px;
}

.blog-detail-tags-title  {
    font-size: 20px;
}
}

@media screen and (max-width: 700px) {
    .blogImg{
       height: 200px;  
   }
   .blogDescription{
   font-size: 16px;
   }
   .blog {
    width: 500px;
   }
   }

   @media screen and (max-width: 500px) {
    .blogImg{
       height: 200px;  
   }
   .blogDescription{
   font-size: 16px;
   }
   .blog {
    width:450px;
   }
   .blogTitle {
    font-size: 28px;
   }
   }

   
   @media screen and (max-width: 450px) {
    .blogImg{
       height: 140px;  
   }
   .blogDescription{
   font-size: 14px;
   }
   .blog {
    width:96dvw;
   }
   .blogTitle {
    font-size: 24px;
   }
   .blogButton {
    font-size: 14px;
    padding: 15px 40px 15px 40px;
   }
   .blogD {

    padding: 10px;
    margin: 0;
}
.blogDDescription  {
    margin-top: 100px;

}
.blog-detail-tags-title  {
    font-size: 16px;
}
   }


 