.seo-container {
    width: 100dvw;
    height: fit-content;
}

.seo-title {
    margin: 0 auto;
    text-align: center;
}

.seo-title.sect2 {
    margin-top: 50px;
}

.seo-section1,.seo-section2 {
    width: 60%;
    text-align: left;
    margin: 0 auto;
    line-height: 180%;
    background-color: rgba(255, 255, 255, 0.902);
    padding: 40px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    padding-top: 70px;
    position: relative;
    color: rgb(69, 68, 68);
    font-size: 18px;
    font-family: "Lora";
    
}

.seo-section2 {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
  
    box-shadow: 15px 51px 45px -35px rgba(0, 0, 0, 0.2);
}

.seo-section2 {
    box-shadow: none;
}
.seo-section2.div {
    width: 40%;
    
}

.seo-section1::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 40px;
    background-color: #068fffa5;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    justify-self: center;
    border-radius: 3px;
}

.seo-section2 img {
    -webkit-animation: slide-top 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
    animation: slide-top 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}