.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-template-rows: repeat(2, 1fr);    /* Two rows */
    gap: 0px; /* Gap between grid items */
    width: 100%;
    height: fit-content;
    padding: 20px;
  }
  
.section {

    display: grid;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    font-family: 'Raleway';
    text-align: center;
  }
  
.s1, .s4{
    background-color: #f9f5f5cf;
}  

.s2, .s3{
    background-color: #ffffff9a;
    display:block;
    box-shadow: rgba(154, 152, 152, 0.176) 0px 16px 48px 0px;
        backdrop-filter: blur(40px);
        border-radius: 10px;
}

.s2 h2, .s3 h2{
    margin-top: 10%;
    font-size: 25px;
    font-weight: bold;
    padding-left: 6%;
    padding-right: 6%;
}
.s2 p, .s3 p{
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 6%;
    padding-right: 6%;
    font-size: 22px;
    font-weight: 500;
    width: 70%;
    text-align: center;
    line-height: 160%;
}

.img{
    width: 100%;
}

.btn{
    font-family: 'Raleway';
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 128%;
    border-radius: 500px;
    transition-duration: .3s;
    border: 1px solid transparent;
    min-width: 28%;
    white-space: normal;
    font-weight: 900;
    text-align: center;
    color: #fff;
    background-color: #c71818;
    height: 11%;
    margin-bottom: 10%;
    box-shadow: rgba(0, 0, 0, 0.176) 0px 16px 48px 0px
}
.btn:hover {
    box-shadow: none;
}

@media (max-width: 1600px){ 
    .s2 h2, .s3 h2{
        margin-top: 10%;
        font-size: 25px;
        font-weight: bold;
        padding-left: 6%;
        padding-right: 6%;
    }
    .s2 p, .s3 p{
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 5%;
        padding-left: 6%;
        padding-right: 6%;
        font-size: 22px;
        font-weight: 500;
        width: 90%;
        text-align: center;
        line-height: 160%;
    }
}

@media (max-width: 800px){
    .grid-container{
        display: block;
        width: 100%;
    }
    .s2 h2, .s3 h2{
        font-size: 130%;
    }
    .s2 p, .s3 p{
        font-size: 80%;
    }

    .btn{
        height: 7vh;
        width: 140px;
        font-size: 125%;
    }

}



/*
  @media (max-width: 837px) {

    
    .s2, .s3{
        display:block;
    }
    
    .s2 h2, .s3 h2{
        margin-top: 50px;
        font-size: 28px;
    }
    .s2 p, .s3 p{
        margin-top: 10px;
        font-size: 17px;
    }
    .img{
        width: 100%;
        height: 50vh;
    }
    .btn{
        margin-bottom: 60px;
    }
    
  }








/*
  @media (max-width: 572px) {
    .s2 h2, .s3 h2{
        margin-top: 30px;
        font-size: 20px;
    }
    .s2 p, .s3 p{
        margin-top: 10px;
        font-size: 15px;
    }
    .img{
        width: 100%;
        height: 30vh;
    }
    .btn{
        margin-bottom: 30px;
    }
  }











/*

  @media (max-width: 472px) {
    .grid-container {
        height: 500vh;
    }
    .s2 h2, .s3 h2{
        margin-top: 27px;
        font-size: 20px;
    }
    .s2 p, .s3 p{
        margin-top: 8px;
        font-size: 13px;
    }
    .img{
        width: 100%;
        height: 30vh;
    }
    .btn{
        margin-bottom: 30px;
    }
  }
/*
  @media (max-width: 360px) {
    .grid-container {
        height: 70vh;
    }
    .s2 h2, .s3 h2{
        margin-top: 10px;
        font-size: 18px;
    }
    .s2 p, .s3 p{
        margin-top: 8px;
        font-size: 13px;
    }
    .img{
        width: 100%;
        height: 20vh;
    }
    .btn{
        margin-bottom: 30px;
    }
} */