/* .ads-card-option1.logo {
    background-color:#ffa384b8 ;
}

.ads-card-reserve.logo {
    background-color:#f29475 ;
}

.ads-card-reserve.logo:hover {
    background-color:black ;
}

.ads-card-circle1.logo,.ads-card-circle2.logo,.ads-card-circle3.logo,.ads-card-circle4.logo,.ads-card-circle5.logo,.ads-card-circle6.logo,.ads-card-circle7.logo,.ads-card-circle8.logo,.ads-card-circle9.logo,.ads-card-circle10.logo {
    background-color:#f29475cb ;
}

.ads-card-title.logo {
    background-color:#f29475 ;
} */