@import url('https://fonts.googleapis.com/css?family=Raleway');


body,
html {
    font-family: "Raleway";
  
    height: 100%;
    width: 100dvw;
    margin: 0;  
    padding: 0;
    letter-spacing: 0.1rem;
    
}

/* * {
    box-sizing: border-box;
} */
.App {
    display: grid;
}
html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scroll-snap-points-y: repeat(100vh);
}

/* .app-section {

    scroll-snap-align: start;
    scroll-snap-stop: always;

} */

a {
    text-decoration: none;
}
