@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lora');

body,
html {
    font-family: "Raleway";
  background-color:#fafafac2 ;
    width: 100dvw;
    margin: 0;  
    padding: 0;
    letter-spacing: 0.1rem;
  
}

/* * {
    box-sizing: border-box;
} */
.App {
    height: 100%;
    display: grid;
    background-color: #fafafac2;

}

.App.dark {

    height: 100%;
    background-color: #211f23;
    background-image: -moz-radial-gradient(top, circle, #45475b 0%, #201e22 70%);
    background-image: -webkit-radial-gradient(top, circle, #45475b 0%, #201e22 70%);
    background-image: radial-gradient(circle at top, #454b5b 0%, #201e22 70%);

}
html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scroll-snap-points-y: repeat(100vh);
}

/* .app-section {

    scroll-snap-align: start;
    scroll-snap-stop: always;

} */

a {
    text-decoration: none;
}
