.footer-basic {
    padding:20px 20px;
    background-color:#1f1e1e;
    color:#ffffff;
    font-family: 'Raleway';
    align-items: center;
    justify-content: center;
    opacity: 0;
  transform: translateY(10%);
  transition: all 1s;
  width: 100dvw;
  overflow-x: hidden;
}

.footer-basic-fade-out {
opacity: 1;
transform: translate(0);
}
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:100%;
    line-height:1.6;
    margin-bottom:0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-basic li {
    padding: 2% ;
    margin-bottom: 7px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:10px;
  }
  
  .footer-basic .social > a {
    font-size: 150%;
    /* padding: 1%px; */
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    margin:0 7px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top: auto;
    text-align:center;
    font-size:70%;
    color:#ffffff;
    margin-bottom:0;
    font-family: 'Raleway';
    flex: 1;
  }
  .icon{
    color: #ffffff;
  }
  .list-inline-item{
    font-family: 'Raleway';
  }

  .footer{
    display: block;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
  }
  .line {
    width: 100%;
    height: 1px;
    background-color: #ccc;
  }


  
  
  
  .wave {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    height: fit-content;
    position: relative;
  
  }
  .wave::before, .wave::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat-x;
  }
  .wave::before {
    height: 30px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, white 13px);
  }


  .wave::after {
    height: 40px;
    background-size: 40px 40px;
    background-image: radial-gradient(circle at 10px 15px, white 12px, transparent 13px);
  }
  .wave--top {
    background: black;
  }
  .wave--top::before, .wave--top::after {
    bottom: auto;
    top: 0;
  }
  .wave--top::before {
    background-image: radial-gradient(circle at 10px 15px, transparent 12px, white 13px);
  }
  .wave--top::after {
    background-image: radial-gradient(circle at 10px 0, white 12px, transparent 13px);
  }
  
/* Dark mode */
.wave.dark {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  height: fit-content;
  position: relative;

}
.wave.dark::before, .wave.dark::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat-x;
}
.wave.dark::before {
  height: 30px;
  background-size: 20px 20px;
  background-image: radial-gradient(circle at 10px -5px, transparent 12px, rgb(28, 28, 28) 13px);
}


.wave.dark::after {
  height: 40px;
  background-size: 40px 40px;
  background-image: radial-gradient(circle at 10px 15px, rgb(28, 28, 28) 12px, transparent 13px);
}
.wave--top.dark {
  background: black;
}
.wave--top.dark::before, .wave--top.dark::after {
  bottom: auto;
  top: 0;
}
.wave--top.dark::before {
  background-image: radial-gradient(circle at 10px 15px, transparent 12px, rgb(28, 28, 28) 13px);
}
.wave--top.dark::after {
  background-image: radial-gradient(circle at 10px 0, rgb(28, 28, 28) 12px, transparent 13px);
}






  .content {
    color: #333;
    font-size: 0.8em;
    padding: 1em;
  }